[Desktop Entry]
Name=I3
Comment=improved dynamic tiling window manager
Exec=env QT_STYLE_OVERRIDE=kvantum i3
TryExec=i3
Type=Application
X-LightDM-DesktopName=i3
DesktopNames=i3
Keywords=tiling;wm;windowmanager;window;manager;
