[Desktop Entry]
Name=I3
Comment=improved dynamic tiling window manager
Exec=env QT_STYLE_OVERRIDE=kvantum i3
TryExec=i3
Type=Application
X-LightDM-DesktopName=i3
DesktopNames=GNOME-Flashback;pop:GNOME;i3
RequiredComponents=gnome-flashback-init;gnome-flashback;gnome-panel;i3;gnome-settings-daemon;nautilus-classic;
Keywords=tiling;wm;windowmanager;window;manager;
X-GDM-SessionRegisters=true
X-Ubuntu-Gettext-Domain=gnome-session-3.0
